name: build
on:
  schedule:
    - cron: "30 00 * * 3"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  fcos_version:
    name: Get Fedora CoreOS Version
    runs-on: ubuntu-latest
    outputs:
      stable_version: ${{ steps.stable.outputs.version }}
    steps:
      - name: Fetch CoreOS stable versions
        id: stable
        run: |
          set -xeuo pipefail

          # Get version for container image
          version=$(skopeo inspect docker://quay.io/fedora/fedora-coreos:stable | \
            jq -r '.Labels["org.opencontainers.image.version"]')
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Echo outputs
        run: |
          echo "${{ toJSON(steps.stable.outputs) }}"

  build:
    name: Build and push image
    runs-on: ubuntu-24.04
    if: always() && !cancelled()
    needs: [fcos_version]
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout Push to Registry action
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Generate image tags
        id: generate-image-tags
        shell: bash
        run: |
          set -xeuo pipefail

          # Get current date for tags
          TIMESTAMP="$(date +%Y%m%d-%H%M%S)"
          DATE="$(echo ${TIMESTAMP} | cut -d '-' -f 1)"
          echo "DATE=$DATE" >> $GITHUB_ENV

          # Get major version for container image
          MAJOR_VERSION="$(echo ${{ needs.fcos_version.outputs.stable_version }} | cut -d '.' -f 1)"
          echo "MAJOR_VERSION=$MAJOR_VERSION" >> $GITHUB_ENV

          # Define tags for container image
          BRANCH="${{ github.ref_name }}"
          if [ "$BRANCH" = "main" ]; then
            BUILD_TAGS=( "latest" "${BRANCH}" "${TIMESTAMP}" "${MAJOR_VERSION}" "${MAJOR_VERSION}.${DATE}")
          else
            BUILD_TAGS=( "${BRANCH}" "${TIMESTAMP}" "${MAJOR_VERSION}.${DATE}")
          fi
          echo "alias_tags=${BUILD_TAGS[*]}" >> $GITHUB_OUTPUT

      - name: Define Image Metadata
        id: define-image-metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.event.repository.name }}
          labels: |
            io.artifacthub.package.readme-url=https://raw.githubusercontent.com/cubt85iz/${{ github.event.repository.name }}/main/README.md
            org.opencontainers.image.description=An image derived from Fedora CoreOS with configuration for pow.
            org.opencontainers.image.source="https://github.com/cubt85iz/${{ github.event.repository.name }}"
            org.opencontainers.image.title=${{ github.event.repository.name }}
            org.opencontainers.image.version=${{ env.MAJOR_VERSION }}.${{ env.DATE }}

      - name: Gather arguments
        id: gather-arguments
        shell: bash
        run: |
          set -euxo pipefail

          get-argument() {
            var_value=$(jq -r ".arguments.$1 // empty" .config/pow)
            if [ -n "$var_value" ]; then
              echo "$var_value"
            fi
          }

          # Gather arguments from configuration
          CONFIG=$(get-argument CONFIG)
          DEBUG=$(get-argument DEBUG)
          KERNEL_FLAVOR=$(get-argument KERNEL_FLAVOR)
          NVIDIA_TAG=$(get-argument NVIDIA_TAG)
          ROOT=$(get-argument ROOT)

          # Defaults for unspecified values.
          DEBUG=${DEBUG:-false}
          NVIDIA_TAG=${NVIDIA_TAG:-}
          KERNEL_FLAVOR=${KERNEL_FLAVOR:-}
          ROOT=${ROOT:-automatos-server}

          # Exit with an error if CONFIG is unspecified
          if [ -z "$CONFIG"]; then
            echo "ERROR: Value for CONFIG must be provided."
            exit 1
          fi

          # Add to environment variables
          echo "CONFIG=$CONFIG" >> $GITHUB_ENV          
          echo "DEBUG=$DEBUG" >> $GITHUB_ENV          
          echo "KERNEL_FLAVOR=$KERNEL_FLAVOR" >> $GITHUB_ENV          
          echo "NVIDIA_TAG=$NVIDIA_TAG" >> $GITHUB_ENV          
          echo "ROOT=$ROOT" >> $GITHUB_ENV          

      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./core/Containerfile
          context: .
          image: ${{ github.event.repository.name }}
          tags: |
            ${{ steps.generate-image-tags.outputs.alias_tags }}
          extra-args: |
            --build-arg=CONFIG=${{ env.CONFIG }}
            --build-arg=DEBUG=${{ env.DEBUG }}
            --build-arg=KERNEL_FLAVOR=${{ env.KERNEL_FLAVOR }}
            --build-arg=NVIDIA_TAG=${{ env.NVIDIA_TAG }}
            --build-arg=ROOT=${{ env.ROOT }}
          labels: ${{ steps.define-image-metadata.outputs.labels }}
          oci: false

      # Push the image to GHCR (Image Registry)
      - name: Push To GHCR
        uses: redhat-actions/push-to-registry@v2
        id: push
        env:
          REGISTRY_USER: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ github.token }}
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Sign container
      - uses: sigstore/cosign-installer@v3.2.0
        if: github.event_name != 'pull_request'

      - name: Sign container image
        if: github.event_name != 'pull_request'
        run: |
          cosign sign -y --key env://COSIGN_PRIVATE_KEY ${{ env.IMAGE_REGISTRY }}/${{ steps.build_image.outputs.image }}@${TAGS}
        env:
          TAGS: ${{ steps.push.outputs.digest }}
          COSIGN_EXPERIMENTAL: false
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}

      - name: Echo outputs
        #if: github.event_name != 'pull_request'
        run: |
          echo "${{ toJSON(steps.push.outputs) }}"
